.dulich{
text-align: center;
padding: 300px;
width:1000px;
height:100px;
margin-top:-300px;

}
.dulich img{
    text-align: center;
    width: 700PX;
    height:500px;
}
.footermax{
    margin-top: 9200px;

}