body {
    font-family: Verdana, sans-serif;
    margin: 0;
    background-color: #b8fff9;
  }
  .container > header {
    background-image: url(img/math.jpg);
    background-size: 100% 100%;
    height: 0px;
    padding-bottom: 25%;
  }
  
  button {
    margin: 0px 10px;
  
    border-radius: 3px;
    width: 10%;
    height: 120%;
  }
  }
  a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-decoration: none;
    color: #f6e7d8;
  }
  a:hover {
    color: #630606;
    text-decoration: underline;
  } /*kết thúc từ header tới menu*/
  .container-pt {
    width: 600px;
    margin: auto;
    background-color: #a13f3f;
    color: white;
    font-size: 22px;
    text-align: center;
    border: 2px solid #f6e7d8;
    border-radius: 10px;
  }
  form input[id] {
    width: 200px;
    padding: 6px 0;
    border: 1px solid black;
    background-color: #f6e7d8;
  }
  form button {
    margin: 10px;
    padding: 10px;
    width: 120px;
    height: 40px;
  }
  .nut {
    background-color: rgba(49, 29, 161, 0.87);
    color: aliceblue;
  }
  .nut_khoa {
    color: aliceblue;
  }
  #solangiai {
    color: rgb(150, 219, 21);
  }
  #kq {
    width: 490px;
    height: 200px;
    margin: 10px 50px 0 50px;
    border: 1px double palevioletred;
    border-radius: 10px;
    box-shadow: white 5px 5px 5px;
  }
  #dongho {
    color: burlywood;
    font-style: italic;
  }
  footer {
    margin: 3px;
    background-color: #f6e7d8;
    text-align: center;
    overflow: hidden;
    height: 7%;
  }
  header {
    background: #40867e;
    height: 50px;
    position: relative;
  }
  footer {
    background: #40867e;
    height: 50px;
    font-size: x-large;
    font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
    font-style: italic;
    color: rgb(141, 171, 89);
    line-height: 15px;
  }
  #chao {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    position: absolute;
    font-size: 25px;
    line-height: 50px;
    margin-left: 50px;
  }
  #xinchao {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-style: italic;
    position: absolute;
    font-size: 25px;
    line-height: 50px;
    margin-left: 900px;
  }
  